
<div class="container text-center ">

    <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>

        <label for="username" class="sr-only">Username</label>
        <input type="username" id="username" class="form-control" placeholder="Username" required="" autofocus=""
            name="username" [formControlName]="'username'">


        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control " placeholder="Password" required=""
            name="password" [formControlName]="'password'">


        
        <button class="btn btn-lg btn-primary btn-block " type="submit">Sign in</button>
        <br>
        <a routerLink="/auth/register">Sign up</a>
        <p class="mt-5 mb-3 text-muted">© 2022-2023</p>

    </form>
</div>



